.leftDiv{
    float: left;
    position: relative;
    width: 500px;
}
.rightDiv{
    float: left;
    position: relative;
    width: 800px;
}
.logo{
    float: left;
    position: relative;
    width:20%;
}
.formControl{
    width:450;
    max-width: 450;
    margin-bottom: 10px;
    height: 30px;
}
.formControlDesc{
    height: 150px;
    width: 450px;
    max-width: 450px;
}
.loginControl{
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    max-width: 300px;
}
.site{
    margin-left:10%;
    margin-right: -10%;
    width: 80%;
}
.navigationBar{
    float: left;
    position:relative;
    width: 59%;
    height: 50px;
    margin-top: 10px;
}

.navigationBar a{
    border: 2px solid green;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
}

 /* unvisited link */
.navigationBar a:link {
    color: red;
    text-decoration: none;
}

/* mouse over link */
.navigationBar a:hover {
    background-color: greenyellow; 
    text-decoration: none;
}

/* selected link */
.navigationBar a:active {
    color: blue;
    text-decoration: none;
}