<html>
    <head>
        <link href="../Content/mainView.css" rel="stylesheet">
        <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../node_modules/angular/angular-csp.css" rel="stylesheet">
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../node_modules/angular/angular.min.js"></script>
    </head>
    <body>
       <div class="container-fluid">
           <div class="row">
               <div class="col">
                    <!--<img class="siteLogo" src="../Graphics/sklepLogo1000x450.jpg">-->
               </div>
           </div>
           <div class="row">
               <div class="col-md-3 col-s-12">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-default link">
                                <span>
                                    Home
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-default link">
                                <span>
                                    Licytacje
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-default link">
                                <span>
                                    Kup teraz
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-default link">
                                <span>
                                    Zwroty / Zazalenia
                                </span>
                            </a>
                        </div>
                    </div>
               </div>
               <div class="col-md-9 col-s-12">
                   <div class="row">
                       <div class="col powitalny">
                            <span>Witam w sklepie</span>
                       </div>
                   </div>
                   <div class="row">
                        <div class="col powitalny">
                            <span>
                                Robimy wszystko, by zakupy u nas były tylko i wyłącznie przyjemnością. Codziennie nowe artykuły.
                            </span>
                        </div>
                   </div>
                   <div class="row">
                       <div class="col powitalny">
                            <span>
                                Oferujemy naszym klientom, najwyższej klasy obsługę, oraz możliwość dowozu zamówienia,
                                w najdalszy zakątek Polski...
                            </span>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col powitalny">
                            <span>...Bo każdy klient jest nam drogi!</span>
                       </div>
                   </div>
               </div>
           </div>
       </div> 
    </body>
</html>