<html>
    <head>
        <link href="../Content/mainView.css" rel="stylesheet">
        <link href="../Content/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../node_modules/angular/angular-csp.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../Scripts/bootstrap/bootstrap.min.js"></script>
        <script src="../node_modules/angular/angular.min.js"></script>
    </head>
    <body>
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-3 col-s-12">
                    <div class="row">
                        <div class="col">
                            <a>Home</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a>Licytacje</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a>Kup teraz</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a>Zwroty / Zazalenia</a>
                        </div>
                    </div>
               </div>
               <div class="col col-s-12">
                    
               </div>
           </div>
       </div> 
    </body>
</html>