<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Nowe konto</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="userNameInput">Nazwa użytkownika:</label>
            <input type="text" class="form-control" id="userNameInput" placeholder="Wprowadź nazwę użytkownika">
        </div>
        <div class="form-group">
            <label for="userPasswordInput">Hasło:</label>
            <input type="password" class="form-control" id="userPasswordInput" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="userEmailInput">E-Mail:</label>
            <input type="email" class="form-control" id="userEmailInput" placeholder="Wprowadź E-mail">
        </div>
        <button ng-click="okButton()" class="btn btn-primary">Załóż konto</button>
    </form>
</div>